---
import Section from "../Section.astro"
import type { CV } from "@/cv"

interface Props {
  basics: CV["basics"]
  title: string
}

const { basics, title } = Astro.props
const { summary } = basics
---

<Section title={title}>
  <p>
    {summary}
  </p>
</Section>
